<div class="hero-unit span12">
	<h1>Remote System Access From Web Demo</h1>
	<h2>Copyright SoftBot Systems</h2>
</div>
<div class="hero-unit span7">
	<h1>Monitor</h1>
	<div class="hero-unit">
		<div class="span2">
			<h3>Light</h3>
		</div>
		<div id="light_on" class="span2" style="display:none;">
			<%= image_tag("light_on.jpeg", size: "40x40") %>
		</div>
		<div id="light_off" class="span2" style="display:block;">
			<%= image_tag("light_off.png", size: "30x30") %>
		</div>
	</div>
	<div class="hero-unit">
		<div class="span2">
			<h3>Shower</h3>
		</div>
		<div id="shower_on" class="span2" style="display:none;">
			<%= image_tag("shower_on.png", size: "40x60") %>
		</div>
		<div id="shower_off" class="span2" style="display:block;">
			<%= image_tag("shower_off.png", size: "40x60") %>
		</div>
	</div>
	<div class="hero-unit">
		<div class="span2">
			<h3>Door</h3>
		</div>
		<div id="door_open" class="span2" style="display:none;">
			<%= image_tag("lock_on.jpeg", size: "40x40") %>
		</div>
		<div id="door_closed" class="span2" style="display:block;">
			<%= image_tag("lock_off.jpg", size: "40x40") %>
		</div>
	</div>
</div>
<div class="hero-unit span4" style="height:520px; width:350px;">
	<h1>Controller</h1>
	<div class="hero-unit">
		<a href="javascript:toggleLight();" class=" icon-certificate"> Light</a>
	</div>
	<div class="hero-unit">
		<a href="javascript:toggleShower();" class=" icon-asterisk"> Shower</a>
	</div>
	<div class="hero-unit">
		<a href="javascript:toggleDoor();" class=" icon-lock"> Door</a>
	</div>
</div>

<div class="hero-unit span12">
	<h1>Log</h1>
	<div class="hero-unit" id="log">

	</div>
</div>